body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

.container-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.container-einstein {
    width: 300px;
    height: 300px;
    border: 2.5px solid white;
    border-radius: 50%;
    overflow: hidden;
    position: relative; 
}

.container-einstein img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Agujas del reloj */
.minutos, .horas {
    position: absolute;
    top: 0;
    left: 0;
}
.horas{
    top: 41px;
}

.minutos svg, .horas svg {
    width: 100%;
    height: 100%;
}
.minutos line {
    transform-origin: center center; 
    animation: rotar-minutos 15s linear infinite; 
}

.horas line {
    transform-origin: center center; 
    animation: rotar-horas 65s linear infinite; 
}

.minutos line, .horas line {
    transform-origin: center center; 
}

/* Animación del mensaje */
.container-wrapper:hover .mensaje {
    transform: translateX(0);
    opacity: 1;
}

.mensaje {
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    position: absolute;
    bottom: 85px; 
    left: 65%;
    transform: translateX(-50%);
    opacity: 0; 
    transition: transform 0.5s ease, opacity 0.5s ease; 
}

/* Animación intro*/
.intro {
    animation: intro 1s ease-out forwards;
}



@keyframes intro {
    from {
        opacity: 0;
        transform: translateY(-20px);
    } 
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rotar-minutos {
    from {
        transform: rotate(0deg); 
    }
    to {
        transform: rotate(360deg); 
    }
}

@keyframes rotar-horas {
    from {
        transform: rotate(0deg); 
    }
    to {
        transform: rotate(360deg); 
    }
}